@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import 'tailwindcss';

@font-face {
  font-family: "Inter:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Inter:Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Inter:Semi Bold";
  font-style: normal;
  font-weight: 600;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Inter:Semi_Bold";
  font-style: normal;
  font-weight: 600;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Inter:Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Roboto:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/Roboto_wdth_wght__3") format("woff2");
}

@font-face {
  font-family: "Open_Sans:Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular");
}

@font-face {
  font-family: "Open_Sans:Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold");
}

html,
body,
#root {
  height: 100%;
}
